import React from 'react';
import styles from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Props {
  // Define tus props aquí
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div className={styles.wrapper}>
      <h1>{{pascalCase name}} Component</h1>
    </div>
  );
};

export default {{pascalCase name}};